In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("Algerian_forest_fire.csv")

In [7]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire
1,2,6,2012,30,73,13,4.0,55.7,2.7,7.8,0.6,2.9,0.2,not fire
2,3,6,2012,29,80,14,2.0,48.7,2.2,7.6,0.3,2.6,0.1,not fire
3,4,6,2012,30,64,14,0.0,79.4,5.2,15.4,2.2,5.6,1.0,not fire
4,5,6,2012,32,60,14,0.2,77.1,6.0,17.6,1.8,6.5,0.9,not fire

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          122 non-null    int64
 1   month        122 non-null    int64
 2   year         122 non-null    int64
 3   Temperature  122 non-null    int64
 4    RH          122 non-null    int64
 5    Ws          122 non-null    int64
 6   Rain         122 non-null    float64
 7   FFMC         122 non-null    float64
 8   DMC          122 non-null    float64
 9   DC           122 non-null    float64
 10  ISI          122 non-null    float64
 11  BUI          122 non-null    float64
 12  FWI          122 non-null    float64
 13  Classes      122 non-null    object
dtypes: float64(7), int64(6), object(1)
memory usage: 13.5+ KB

In [9]:
df.tail()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
117,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire
118,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire
119,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
120,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
121,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [10]:
df.shape

(122, 14)

In [11]:
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
dtype: int64

In [12]:
df.describe()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI
count,122.000000,122.000000,122.0,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000
mean,15.754098,7.500000,2012.0,33.163934,55.901639,15.008197,0.678689,81.102459,17.031967,45.415574,5.863934,17.920492,8.520492
std,8.843274,1.115259,0.0,3.675608,15.716186,2.692186,1.486759,12.244064,12.995068,42.927562,4.803667,13.870785,8.137424
min,1.000000,6.000000,2012.0,24.000000,21.000000,6.000000,0.000000,37.900000,0.900000,7.300000,0.100000,1.400000,0.000000
25%,8.000000,7.000000,2012.0,30.000000,43.250000,14.000000,0.000000,77.650000,7.325000,14.700000,1.825000,7.400000,0.925000
50%,16.000000,7.500000,2012.0,34.000000,56.000000,15.000000,0.000000,84.850000,13.150000,31.500000,4.600000,13.900000,6.050000
75%,23.000000,8.000000,2012.0,36.000000,66.750000,16.750000,0.475000,89.275000,22.900000,56.975000,8.625000,23.875000,13.650000
max,31.000000,9.000000,2012.0,42.000000,90.000000,29.000000,8.700000,96.000000,65.900000,177.300000,19.000000,68.000000,31.100000

In [13]:
df.duplicated().sum()

0

In [14]:
df.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

In [15]:
# remove the extra spaces in the columns
df.columns=df.columns.str.strip()

In [16]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

In [17]:
df["Classes"].value_counts()

Classes
fire             79
not fire         41
not fire          1
not fire          1
Name: count, dtype: int64

In [18]:
df["Classes"].unique()

array(['not fire   ', 'fire   ', 'not fire     ', 'not fire    '],
      dtype=object)

In [19]:
df["Classes"].nunique()

4

In [20]:
df["Classes"]=df["Classes"].str.strip()

In [21]:
df["Classes"].unique()

array(['not fire', 'fire'], dtype=object)

In [22]:
df.drop(['day','month','year'],axis=1,inplace=True)

In [23]:
df.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  FWI   Classes
0           32  71  12   0.7  57.1  2.5   8.2  0.6  2.8  0.2  not fire
1           30  73  13   4.0  55.7  2.7   7.8  0.6  2.9  0.2  not fire
2           29  80  14   2.0  48.7  2.2   7.6  0.3  2.6  0.1  not fire
3           30  64  14   0.0  79.4  5.2  15.4  2.2  5.6  1.0  not fire
4           32  60  14   0.2  77.1  6.0  17.6  1.8  6.5  0.9  not fire

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Classes"]=le.fit_transform(df["Classes"])

In [25]:
df.tail()

     Temperature  RH  Ws  Rain  FFMC   DMC    DC  ISI   BUI  FWI  Classes
117           30  65  14   0.0  85.4  16.0  44.5  4.5  16.9  6.5        0
118           28  87  15   4.4  41.1   6.5   8.0  0.1   6.2  0.0        1
119           27  87  29   0.5  45.9   3.5   7.9  0.4   3.4  0.2        1
120           24  54  18   0.1  79.7   4.3  15.2  1.7   5.1  0.7        1
121           24  64  15   0.2  67.3   3.8  16.5  1.2   4.8  0.5        1

In [26]:
X=df.drop("Classes",axis=1)
y=df["Classes"]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [28]:
df.columns

Index(['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI',
       'FWI', 'Classes'],
      dtype='object')

In [29]:
# To convert imbalanced to balanced dataset

# upsampling
# downsampling
# Mostly smote is used in real time projects

from imblearn.over_sampling import SMOTE
sm=SMOTE()
X,y=sm.fit_resample(df[['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI','FWI']],df["Classes"])

In [31]:
import pandas as pd

# Convert y to a pandas Series
y_series = pd.Series(y)

# Get the value counts of the classes
class_counts = y_series.value_counts()

print(class_counts)

Classes
1    79
0    79
Name: count, dtype: int64

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
ss=StandardScaler()

In [34]:
X_train_scaled=ss.fit_transform(X_train)
X_train_scaled=ss.transform(X_test)

**Model**

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [36]:
lr=LogisticRegression()
sv=SVC()
kn=KNeighborsClassifier()
rf=RandomForestClassifier()
dt=DecisionTreeClassifier()
gb=GradientBoostingClassifier()
ab=AdaBoostClassifier()

In [37]:
algos=[lr,sv,rf,dt,gb,ab]
algo_name=["Logistic Regression","SVC","K Neighbors Classifier","Random Forest Classifier","Decision Tree Classifier","Gradient Boosting Classifier","Ada Boost Classifier"]

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
for i,j in zip(algos,algo_name):
  i.fit(X_train,y_train)
  y_pred=i.predict(X_test)
  print(j)
  print(accuracy_score(y_test,y_pred)*100)
  print("-"*30)

Logistic Regression
96.0
------------------------------
SVC
88.0
------------------------------
K Neighbors Classifier
92.0
------------------------------
Random Forest Classifier
96.0
------------------------------
Decision Tree Classifier
96.0
------------------------------
Gradient Boosting Classifier
96.0
------------------------------

C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [48]:
# we will select randomforest for further chages

# Hyperparameter tuning

from sklearn.model_selection import GridSearchCV

In [49]:
params = {"criterion" : ["gini" , 'entropy' , 'log_loss'] , "max_features" : ["sqrt" , "log_2"] , "n_estimators" : [1,5,10,15,20,25,30,35,40,50,60,70,80,90,99]}

In [50]:
gsv=GridSearchCV(rf,params,scoring="accuracy",cv=10)

In [51]:
gsv.fit(X_train,y_train)

C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
450 fits failed out of a total of 900.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
450 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'log_2' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\AKASH\PycharmProjects\ML\venv\lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.98       1.         1.         1.         0.98888889 1.
 1.         1.         0.98888889 1.         1.         1.
 1.         1.         1.                nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.96888889 0.98888889 1.         1.         1.         1.
 0.98888889 1.         1.         0.98888889 0.98888889 0.98888889
 0.98888889 1.         1.                nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.95777778 0.97888889 1.         0.98888889 1.         0.98888889
 0.98888889 0.98888889 0.98888889 0.98888889 1.         1.
 1.         1.         1.                nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log_2'],
                         'n_estimators': [1, 5, 10, 15, 20, 25, 30, 35, 40, 50,
                                          60, 70, 80, 90, 99]},
             scoring='accuracy')

In [52]:
gsv.best_params_

{'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 5}

In [53]:
pred=gsv.predict(X_test)

In [55]:
accuracy_score(y_test,pred)

0.92